<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.serviceModel>
		<bindings />
  <client />
  <behaviors>
			<serviceBehaviors>
				<behavior name="servicebehavior" >
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="restbehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<services>
			<service name="Routing.Routing"
   behaviorConfiguration="servicebehavior"  >
				<endpoint name="SOAPEndPoint"
    contract="Routing.IRouting"
    binding="basicHttpBinding"
    address="soap"  />

				<!--<endpoint name ="RESTEndPoint"
				contract ="Routing.IRouting"
				binding ="webHttpBinding"
				address ="rest"
				behaviorConfiguration ="restbehavior"/>-->

				<endpoint contract="IMetadataExchange"
    binding="mexHttpBinding"
    address="mex" />

				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/Biking/Routing/" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
