<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.serviceModel>
		<bindings />
  <client />
  <behaviors>
			<serviceBehaviors>
				<behavior name="servicebehavior" >
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="restbehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<services>
   <service behaviorConfiguration="servicebehavior" name="Routing.RoutingImpl">
	   
    <endpoint address="soap" binding="basicHttpBinding" name="SOAPEndPoint"
     contract="Routing.IRouting" />
	   
    <endpoint address="rest" behaviorConfiguration="restbehavior"
     binding="webHttpBinding" name="RESTEndPoint" contract="Routing.IRoutingREST" />
	   
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
    <host>
     <baseAddresses>
      <add baseAddress="http://localhost:8733/Design_Time_Addresses/Biking/Routing/" />
     </baseAddresses>
    </host>
   </service>
  </services>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
