<configuration>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true" policyVersion="Policy15" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="restbehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<services>
			<service name="ProxyWithCache.Proxy" behaviorConfiguration="mexBehavior">

				<endpoint address="Service" behaviorConfiguration="restbehavior"
				 binding="webHttpBinding" name="RESTEndPoint" contract="ProxyWithCache.IProxy" />

				<endpoint address="Service/mex"
				  binding="mexHttpBinding"
				  contract="IMetadataExchange" />
				
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/Proxy/" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>

</configuration>
